@model SKNManager.Models.EquipmentViewModels.Equipment

@{
    ViewData["Title"] = "Usuwanie";
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="col-sm-12 col-md-12 content-window">
            <h2 class="text-center page-header">@ViewData["Title"]</h2>

            <h3 class="text-center">Czy na pewno chcesz usunąć @Html.DisplayFor(model => model.Name)?</h3>
            <div>
                <br />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Amount)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Amount)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.EquipmentSet)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.EquipmentSet.Name)
                    </dd>
                </dl>

                <form asp-action="Delete" class=" col-md-offset-5">
                    <div class="form-actions no-color">
                        <input type="submit" value="Usuń" class="btn btn-default" /> 
                        <a class="btn btn-default" asp-action="Index">Powrót</a> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
