@model ManageIndexViewModel
@{
    ViewData["Title"] = "Zarządzanie kontem użytkownika";
}

@if (!ViewData["StatusMessage"].Equals(""))
{
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="col-sm-12 col-md-12 content-window">
            <h1 class="page-header">Komunikat</h1>
            <p class="text-success">@ViewData["StatusMessage"]</p>
        </div>
    </div>
</div>
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="col-sm-12 col-md-12 content-window">
            <h1 class="page-header">@ViewData["Title"]</h1>
            <div>
                <dl class="dl-horizontal">

                    <dt>Email:</dt>
                    <dd>@Model.Email <a asp-controller="Manage" asp-action="ChangeEmail" class="btn btn-xs">Zmień</a></dd>

                    <dt>Hasło:</dt>
                    <dd>******** <a asp-controller="Manage" asp-action="ChangePassword" class="btn btn-xs">Zmień</a></dd>

                    <dt></dt>
                    <dd><br></dd>
                    

                    <dt>Imię i nazwisko:</dt>
                    <dd>@Model.FirstName @Model.LastName</dd>

                    

                    <dt>Numer telefonu:</dt>
                    <dd>@Model.PhoneNumber</dd>

                    <dt></dt>
                    <dd><a asp-controller="Manage" asp-action="EditProfile" class="btn btn-sm">Zmień dane personalne</a></dd>

                </dl>
            </div>
        </div>
    </div>
</div>