@model SKNManager.Models.ProjectMembers

@{
    ViewData["Title"] = "Usuń";
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <span class="col-sm-12 col-md-12 content-window">
            <h2 class="text-center page-header">@ViewData["Title"]</h2>
            <h3>Czy chcesz usunąć z zespoł @Model.ApplicationUser.FirstName @Model.ApplicationUser.LastName</h3>
            <div>
                <dl class="dl-horizontal">
                    <input type="hidden" asp-for="Id" />
                    <dt>
                        Użytkownik
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ApplicationUser.FirstName)
                        @Html.DisplayFor(model => model.ApplicationUser.LastName)
                    </dd>
                    <dt>
                        Projekt
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Project.Name)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <div class="form-actions no-color">
                        <input type="submit" value="Usuń" class="btn btn-default pull-right" />                         
                    </div>
                </form>
            </div>
    </div>
</div>
<a asp-action="Index">Powrót</a>
    
