@using System.Collections.Generic
@model EditMemberViewModel

@{
    ViewData["Title"] = "Edytuj członka";
}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="col-sm-12 col-md-12 content-window">
            <h2 class="text-center page-header">@ViewData["Title"]</h2>
            <section>
                <form asp-controller="Member" asp-action="Edit" asp-route-returnurl="@ViewData["ReturnUrl"]"  method="post" class="form-horizontal">
                    @Html.AntiForgeryToken()
                    <div class="col-md-12">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="control-label col-xs-4">Imię i nazwisko:</label>
                        <div class="col-sm-6">
                            <p class="form-control-static">@ViewBag.FirstName @ViewBag.LastName</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label col-xs-4">Adres email:</label>
                        <div class="col-sm-6">
                            <p class="form-control-static">@ViewBag.Email</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label col-xs-4">Rola w kole:</label>
                        <div class="col-sm-6">
                            <select class="form-control" asp-for="ClubRank">
                                @foreach (string option in ViewBag.ClubRoles)
                                {
                                    if (option == ViewBag.UserRank)
                                    {
                                        @:
                                        <option selected>@option</option>
                                    }
                                    else
                                    {
                                        @:
                                        <option>@option</option>
                                    }
                                }
                            </select>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-8">
                            <button type="submit" class="btn btn-default">Zapisz zmiany</button>
                            <a class="btn btn-default" asp-action="Index">Powrót</a>
                        </div>
                    </div>

                </form>
            </section>
        </div>
    </div>
</div>
