@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService 
@model IndexMemberViewModel
@{
    ViewData["Title"] = "Zarządzanie członkami";
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="col-sm-12 col-md-12 content-window">
            <h2 class="text-center page-header">@ViewData["Title"]</h2>
            @if (await AuthorizationService.AuthorizeAsync(User, "SecretaryClubRank"))
            {
                <a class="btn btn-default pull-right" href="@Url.Action("Add", "Member")">Dodaj nowego członka</a>
            }
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Imię nazwisko (Email)</td>
                        <td>Rola</td>
                        @if (await AuthorizationService.AuthorizeAsync(User, "SecretaryClubRank"))
                        {
                        <td>Zarządzanie</td>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (Tuple<ApplicationUser, string> userTuple in Model.UserTuple)
                    {
                        if (!userTuple.Item1.EmailConfirmed)
                        {
                            @:<tr class="danger">
                            @:<td>ZAPROSZONY
                        }
                        else
                        {
                            @:<tr>
                            @:<td>
                        }

                        @userTuple.Item1.FirstName<text> </text>@userTuple.Item1.LastName <text> (</text>@userTuple.Item1.Email<text>)</text>  
                        @:</td>
                        <td>
                            @userTuple.Item2.ToString()
                        </td>
                        @if (await AuthorizationService.AuthorizeAsync(User, "SecretaryClubRank"))
                        {
                        @:<td>
                            <a href='@Url.Action("Details", "Member", new { id = @userTuple.Item1.Id })'>Szczegóły</a>
                            @if (await AuthorizationService.AuthorizeAsync(User, "VicePresidentClubRank"))
                            {
                                @:<a href='@Url.Action("Edit", "Member", new { id = @userTuple.Item1.Id })'>Edytuj</a>
                                @:<a href='@Url.Action("Delete", "Member", new { id = @userTuple.Item1.Id })'>Usuń</a>
                            }
                        @:</td>
                        }
                    @:</tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>