@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SKNManager PWSZ Krosno</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="~/css/site.css">

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <!-- Top navbar -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-menu" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">SKNManager</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="nav navbar-nav navbar-right">
                    <div class="list-inline">
                        <!--<a class="list-inline-item" href="#">
                            <img class="img-fluid user-nav-icon" src="images/icons/notification-icon.png" />
                        </a>
                        <a class="list-inline-item" href="#">
                            <img class="img-fluid user-nav-icon" src="images/icons/message-icon.png" />
                        </a>-->
                        <span class="dropdown">
                            <a href="" class="list-inline-item user-menu-open dropdown-toggle" data-toggle="dropdown">
                                <img class="img-fluid" src="images/icons/user-icon.png" />
                                <span class="caret"></span>
                            </a>
                            <span class="dropdown-menu list-group user-menu-window">
                                <a class="list-group-item" href="@Url.Action("Logout", "Account")">Wyloguj</a>
                            </span>
                        </span>
                    </div>
            </div>
        </div>
        <div id="mobile-menu" class="collapse">
            <div id="menu-section" class="list-group">
                @Html.Partial("_SharedMenuPartial")
                <!--<div class="mobile-menu-separator"></div>
                <a class="list-group-item" href="">Profil użytkownika</a>
                <a class="list-group-item" href="">Wiadomości</a>
                <a class="list-group-item" href="">Powiadomienia</a>-->
            </div>
        </div>
    </nav>
    <!-- ========== -->
    <!-- Page container -->
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar navigation -->
            <div class="col-sm-3 col-md-2 sidebar">
                <div id="menu-section" class="list-group">
                    @Html.Partial("_SharedMenuPartial")
                </div>
            </div>
            <!-- ================== -->
            <!-- Page content -->
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="container-fluid">
                    @RenderBody()
                </div>

            </div>
            <!-- ============ -->
        </div>
    </div>
    <!-- ============== -->
    <!-- Footer -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="col-sm-12 col-md-12">
                <p class="footer-line">&copy; 2017 - SKNManager by SKN NEO</p>
            </div>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>

</html>
